In [1]:
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Data URL
en_url = "https://www.airportcodes.us/us-airports.htm"

In [3]:
# Openning connection and request page
uClient = uReq(en_url)
page_html = uClient.read()
uClient.close()

In [4]:
# Parse HTML
page_soup = soup(page_html, "html.parser")

In [5]:
# Grab each row
containers = page_soup.findAll("tr")

In [6]:
len(containers)

732

In [7]:
# Now we check what are in containers
containers[4]

In [8]:
containers[5]

In [9]:
containers[-1]

In [10]:
# We only want the airport info, so we need some list slicing 
info = containers[5:]

In [11]:
# Create a file to hold information
df = pd.DataFrame(columns=["Code", "Name", "City", "State"])
df

Empty DataFrame
Columns: [Code, Name, City, State]
Index: []

In [12]:
info[0].findAll('td')[1].text

'Pilot Station Airport'

In [13]:
for i in range(len(info)):
    row = info[i]
    try: 
        code = row.td.text
        name = row.findAll('td')[1].text
        city = row.findAll('td')[2].text
        state = row.findAll('td')[3].text
        df.loc[i] = [code, name, city, state]
    except:
        continue

In [14]:
df.head()

  Code                       Name           City State
0  0AK      Pilot Station Airport  Pilot Station    AK
1  16A        Nunapitchuk Airport    Nunapitchuk    AK
2  1G4  Grand Canyon West Airport  Peach Springs    AZ
3  2A3         Larsen Bay Airport     Larsen Bay    AK
4  2A9             Kotlik Airport         Kotlik    AK

In [15]:
df.to_csv("airport_codes.csv", index = False)

In [16]:
df.head()

  Code                       Name           City State
0  0AK      Pilot Station Airport  Pilot Station    AK
1  16A        Nunapitchuk Airport    Nunapitchuk    AK
2  1G4  Grand Canyon West Airport  Peach Springs    AZ
3  2A3         Larsen Bay Airport     Larsen Bay    AK
4  2A9             Kotlik Airport         Kotlik    AK